.casillaCampo{
    width: 30px;
    height: 30px;    
}

#divBuscaminas{

    
    border-style: outset;
    border-color: black;
    width: 300px;
    margin: auto;
}


body {
    text-align: center; 
    color: blue;
    
}

